<!DOCTYPE html>
<html>
<head>
    <title>Garage Maintenance Tracker</title>
    <link rel="stylesheet" href="./public/style.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
</head>
<header></header>
<body>
    <div class="container">
        <h1>Garage Maintenance Tracker</h1>

{{{body}}}
    <!-- JavaScript to Handle the Form and Render the Template -->
    <script src="../../utils/helper.js"></script>

    
</body>
</html>
