<div class="" id="unIssue">
    {{!-- issues --}}
    {{#each issues as |issue|}}
    <div>
        <h2>issues</h2>
    </div>
    <h3>Incomplete</h3>
    {{#if issue_status}}
    
    {{else}}
    <h3>Complete</h3>
    {{/if}}
</div>
<div>
    {{!-- vehicle list --}}
</div>