<div class="" id="unIssue">
    {{!-- issues add a button for the issues incomplete --}}
    
    <div id="issues">
        <h2>Issues</h2>
        {{#each issues as |issue|}}
        {{#if issue_status}}
        {{else}}
        <div id=>
        <p>Issue: {{id}}
            Vehicle: {{vehicle_number}}
            Issue: {{description}}</p>
      
        </div>
        {{/if}}
        {{/each}}
    </div>
    

</div>

