<form class="issueCreate" method="post" enctype="multipart/form-data">
    <input class="" id="vehicleInput" type="text">
    <input class="" id="descriptionInput" type="text">
    <button class="" id="issueBtn" type="submit">Submit</button>
</form>
<script src="/js/issues.js" type="text/javascript"></script>