<h2>Login</h2>]
<form class="loginForm">
    <input class="" type="" id="emailLog">
    <input class="" type="password" id="passwordLog">
    <button class="" id="logBtn">Login</button>
</form>
<script src="/js/login.js" type="text/javascript"></script>