<h2>Login</h2>
<form class="loginForm">
    <h2>Email</h2>
    <input class="" type="" id="emailLog">
    <h2>Password</h2>
    <input class="" type="password" id="passwordLog">
    <button class="" id="logBtn">Login</button>
</form>
<script src="/js/login.js"></script>